.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
  background: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.1);
  padding: 20px;
  color: #404040ff;
}

.form {
  border-radius: 20px;
  border: 0.1px solid #dfdfdf;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.1);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}