.button {
  color: white;
    background-color: #4b81e7;
    padding: 10px;
  border-radius: 20px;
  border: none;
    width: 100%;
}

.default {
  background-color: #ececec;
}

.submit {
  width: 70px;
    margin-top: 0px;
}

.submit:disabled {
  background-color: #a5c4ff;
  color: white;
  cursor: not-allowed;
}

.submit:disabled:hover {
  background-color: #ccc;
  border-color: rgb(105, 105, 105);
}

.toggle {
  margin-top: 16px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 15px;
  color: black;
}

.toggle:hover {
  background-color: transparent;
  color: black;
}

.positive {
  width: 54px;
  height: 40px;
  background-color: #64c964;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 2px 0 12px;
}

.negative {
  width: 54px;
  height: 40px;
  background-color: #fd565f;
  color: white;
  border: none;
  padding: 8px 12px;
}
